
<div id="main-content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Clients</h2>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">Clients</li>
                <li class="breadcrumb-item active">List</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 text-right">

              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let u of users  | searchuser: query| paginate: { itemsPerPage: 5, currentPage: p }">
            <div class="card">
              <div class="body text-center">
                <div class="chart easy-pie-chart-1" data-percent="75"> <span><img src="http://localhost:8080/upload/files/{{u.photo}}" alt="user" class="rounded-circle"/></span> </div>
                <h5>{{u.firstname}}</h5>
                <small>{{u.lastname}}</small>
                <h6> </h6>
                <div class="m-t-15">
                  <button routerLink="/profiluser/{{u.id}}" class="btn btn-sm btn-primary">View Profile</button>
                  <button class="btn btn-sm btn-success">Message</button>
                </div>
                <ul class="social-links list-unstyled">
                  <li><a title="facebook"href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li><a title="twitter"href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li><a title="instagram"href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="body text-center">




            </div>

          </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
</div>
